.box3 {
  width: 300px;
  margin: 200px auto;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
  top: 125px;
  margin-top: 0;
}

.npc:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
.player:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.text {
  width: 100%;
  height: 100%;
}

.player-icon {
  width: 75px;
  position: absolute;
  left: 250px;
  top: 100px;
}

.npc-icon {
  width: 75px;
  position: absolute;
  right: 250px;
  top: 100px;
}

.continue {
  position: absolute;
  left: 450px;
  bottom: 0;
}
