<div class="title">
    <h1> Describe this picture as clear as possible. </h1>

</div>

<div class="row">
    <div class="col-md-6">
        <img src="{{ picture.image }}" >
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <textarea id="userInput" name="userInput"></textarea>
        <button>Submit</button>
    </div>
    <div class="col-md-6">
        <textarea name="AiInput" id="AiInput" readonly="true" *ngIf="showAiAnswer">{{picture.description}}</textarea>
    </div>
</div>