<div class="title">
    <h1> Describe this picture as clear as possible. </h1>

</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <img src="{{ picture.image }}">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <textarea id="userInput" name="userInput"></textarea>
    </div>
    <div class="col-md-6">
        <p name="AiInput" id="AiInput" readonly="true" *ngIf="showAiAnswer">{{picture.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <button [disabled]="disable" class="btn btn-primary m-1" (click)="submit()">Submit</button>
    </div>
    <div class="col-md-2">
        <button
            class="btn btn-warning m-1"
            title="Click for help"
            (click)="openDialog()">
            Rules
        </button>
        <button [disabled]="!disable" class="btn btn-primary m-1" (click)="next()">
            Next
        </button>
    </div>
</div>